<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602095360919-hllbr31tm7clhoum15bap2p5ujur7o7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602095360919-hllbr31tm7clhoum15bap2p5ujur7o7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDNkXu5FK1fgyjgLGhgf7JFI0sPKKtHf3U</string>
	<key>GCM_SENDER_ID</key>
	<string>602095360919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrithik.inditabtask.inditabTask</string>
	<key>PROJECT_ID</key>
	<string>inditabtask</string>
	<key>STORAGE_BUCKET</key>
	<string>inditabtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602095360919:ios:9ff16727367617fec3c2d2</string>
</dict>
</plist>